*{
    font-size: 12px;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}



.icons{
    margin-bottom: 10px;
    color: #1259c3;
    font-size: 2em;
}

.articles{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.descripcion-pie{
    color: #666;
}

#copyright-container{
    margin: 20px;


}

#copyright{
    color: #666;
}

.article-footer{
    margin-top: 15px;
    padding: 10px;
    align-items: center;
    text-align: center;
}


@media screen and (min-width: 769px){
.articles{
    display: flex;
    flex-direction: row;
    margin: 20px;

}

.icons:hover{
    color: #03264C;
}


    
}


