*{
    font-size: 12px;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

.icons{
    width: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

footer{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.descripcion-pie{
    color: #666;
}

#copyright-container{
    margin-top: 20px;


}

#copyright{
    color: #666;
}

.article-footer{
    margin-top: 15px;
    padding: 10px;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 361px){

}

@media screen and (min-width: 769px){
    
}


